<h1>Welcome to Rails Hangman</h1>
<p>There are <%= HangmanState.all.count %> games in total</p>

<h2>Games</h2>
<ul>
  <% @games.each do |game| %>
      <li>
        <%= link_to "Game #{game.id}", game %>
      </li>
    <% end %>
</ul>

<%= form_with model: HangmanState.new do |form| %>
  <p>
    <%= form.submit "New game" %>
  </p>
<% end %>
